@import url(../config.css);

main {
  display: flex;
}

.hostel {
  margin: 0 auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px -3px var(--white2);
  background: white;
}

.hostel .section_one {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hostel .section_one img {
  height: 250px;
  width: 400px;
  border-radius: 15px;
}

.hostel .section_one .details {
  margin: 30px;
}

.hostel .section_one .details .list-inline {
  display: flex;
  flex-direction: column;
}

.hostel .section_one .details .list-inline .list-inline-item {
  margin: 5px;
  font-size: 1.05rem;
  font-weight: 400;
  color: var(--black2);
}

.hostel .section_one .details .list-inline .list-inline-item span {
  font-family: var(--font1);
  font-weight: 500;
  text-transform: capitalize;
  font-size: 1.2rem;
}

.hostel .section_one .details .list-inline .list-inline-item.name span {
  font-size: 2rem;
  text-transform: capitalize;
  font-family: var(--font2);
  color: var(--black2);
}

.hostel .section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hostel .section .section1 {
  margin: 5px 30px;
}

.hostel .section .section1 .list-inline {
  list-style: none;
  display: flex;
  flex-direction: column;
  /* float: right; */
  margin: 20px;
}

.hostel .section .section2 {
  margin: 5px 30px;
}

.hostel .section .section2 .list-inline {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.rooms-details {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-family: var(--font2);
  color: var(--black2);
}

.hostel .section .section1 .list-inline .list-inline-item,
.hostel .section .section2 .list-inline .list-inline-item {
  margin: 5px;
  font-size: 1rem;
  font-weight: 400;
  color: var(--black2);
}

.display_room_details {
  position: relative;
  overflow: hidden;
}

.display_room_details img {
  height: 100%;
  width: 100%;
}
