<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookTel</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="{% static 'images/logo.svg' %}" alt="Logo Here" height='50px' width='auto'/>
      </div>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a
            href="{% url 'landing_page' %}"
            class="nav-link {% block active %} {% endblock %}"
            ><i class="fa-solid fa-home"></i> Home</a
          >
        </li>
        <li class="list-inline-item">
          <a
            href="{% url 'read_hostels' %}"
            class="nav-link {% block active_hostel %} {% endblock %}"
            ><i class="fa-solid fa-building"></i> Hostels</a
          >
        </li>
      </ul>
      {% if request.user.is_authenticated %}
      <div class='authentication'>
      <button type="button" class="btn1">
        <a href="{% url 'dashboard' %}" class="nav-link" style='font-family: var(--font2); font-weight: 500;'
          ><i class="fa-solid fa-user"></i>  {{ request.user.username|capfirst }} </a
        >
      </button>
      <button type="button" class="btn2">
        <a href="{% url 'user_logout' %}" class="nav-link"
          ><i class="fa-solid fa-sign-in-alt"></i> Log Out</a
        >
      </button>
    </div>
      {% else %}
      <div class="authentication">
        {% block nav_btn_addition %} {% endblock nav_btn_addition %}
        <button type="button" class="btn1">
          <a href="{% url 'user_signup' %}" class="nav-link"
            ><i class="fa-solid fa-user-plus"></i> Sign Up</a
          >
        </button>
        <button type="button" class="btn2">
          <a href="{% url 'user_login' %}" class="nav-link"
            ><i class="fa-solid fa-sign-in-alt"></i> Log In</a
          >
        </button>
      </div>
      {% endif %}

    </nav>
    <main>{% block content %} {% endblock content %}</main>
    <footer>
      <div class="logo">
        <img src="#" alt="logo here" />
        <span class="logo-text"
          >The nation with the best hotels for Students</span
        >
      </div>
      <div class="middle-side">
        <div class="first-side">
          <span class="small-heading"
            >For more information contact us with the information below
          </span>
          <ul class="list-inline">
            <li class="list-inline-item">Address</li>
            <li class="list-inline-item">Contact</li>
            <li class="list-inline-item">Email</li>
          </ul>
          <ul class="list-inline">
            <li class="list-inline-item">
              <i class="fa-brands fa-instagram"></i>
            </li>
            <li class="list-inline-item">
              <i class="fa-brands fa-twitter"></i>
            </li>
            <li class="list-inline-item">
              <i class="fa-brands fa-facebook"></i>
            </li>
            <li class="list-inline-item">
              <i class="fa-brands fa-whatsapp"></i>
            </li>
          </ul>
        </div>
        <div class="second-side">
          <ul class="list-inline">
            <li class="list-inline-item">Join Us and Grow</li>
            <li class="list-inline-item">Join Our Team</li>
            <li class="list-inline-item">Guest Privacy</li>
            <li class="list-inline-item">Terms and Conditions</li>
            <li class="list-inline-item">Privacy Policy</li>
            <li class="list-inline-item">Advertise Here</li>
          </ul>
        </div>
      </div>
      <div class="small-quote">"Mi Casa es tu Casa".</div>
    </footer>
  </body>
</html>