{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/hq/add_hostel.css' %}">
    <form action="." method="POST" id="form" enctype="multipart/form-data">
        {% csrf_token %}
        <ul class="list-inline">
            <li class="list-inline-item">
                {{ form.as_p }}
            </li>
            <li class="list-inline-item">
                <div class="add_info_center"></div>
                <button type="button" class="add_info">Additional Info </button>
            </li>
            <li class="list-inline-item">
                <div class="add_room_details_center"></div>
                <button type="button" class="add_room_detail">Rooms Information</button>
            </li>
            <button type="submit" class="submit">Submit</button>

        </ul>
        <input type="hidden" name="hidden_data" class="hidden_data" value="0">
        <input type="hidden" name="hidden_info_data" class="hidden_info_data" value="0">
    </form>

    <script src="{% static 'js/hq/add_hostel.js' %}"></script>
{% endblock content %}