{% extends "base.html" %}
{% load static %}
{% block nav_btn_addition %}
    <button type="button"><a href="{% url 'add_hostel' %}">Add Hostel </a></button>
{% endblock nav_btn_addition %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/hq/read_hostels.css' %}">
    <section id="section2">
        <ul class="list-inline">
            {% for hostel in hostels %}
          <a href="{% url "detail_hostel" hostel.id %}" class="nav-link">
          <li class="list-inline-item card">
              <div class="three-dots">
                  <i class="fa-solid fa-bars"></i>
              </div>
            <div class="image">
                {% if hostel.image %}
                <img src="{{ hostel.image.url }}" alt="room image here" />                
                {% endif %}
            </div>
            <div class="display-info">
              <ul class="details">
                  <li class="details-item">Name :<span>{{ hostel.name }}</span></li>
                  <li class="details-item">Rating :<span> 4.5stars</span></li>
              </ul>
              <ul class="room-info2 room{{ hostel.id }}">
                  <span>Rooms</span>
                  {% if hostel.room_details %}
                    <script type="application/json" class="room-details{{ hostel.id }}"> {{ hostel.room_details|safe }}</script>
                    <script>
                        append_here = document.querySelector('.room{{ hostel.id }}')
                        json_data = document.querySelectorAll('.room-details{{ hostel.id }}')
                        json_data.forEach(data => {
                            new_data = JSON.parse(data.textContent)
                            console.log(new_data)
                            new_data.forEach(data => {
                                element = document.createElement('li')
                                element.classList.add("room-info2-item")
                                element.innerHTML = `${data['number_in_room']} in a Room`
                                append_here.appendChild(element)
                            })
                        })
                    </script>
                  {% endif %}
              </ul>
              </div>
              <ul class="info1 info{{ hostel.id }}">
                {% if hostel.additional_details %}
                  <span class="title">Additional Info</span>
                  <script type="application/json" class="room{{ hostel.id }}-additional_info"> {{ hostel.additional_details|safe }}</script>
                  <script>
                      append_here = document.querySelector('.info{{ hostel.id }}')
                      json_data = document.querySelectorAll('.room{{ hostel.id }}-additional_info')
                      json_data.forEach(data => {
                          new_data = JSON.parse(data.textContent)
                          new_data.forEach(data => {
                            element = document.createElement('li')
                          element.classList.add("info1-item")
                          element.innerHTML = `${data}`
                          append_here.appendChild(element)
                          console.log(element)
                          })
                      })
                  </script>
                {% endif %}
              </ul>
            </div>
          </li>
        </a>
          {% endfor %}
        </ul>
      </section>
    <script src="{% static 'js/hq/read_hostel.js' %}"></script>
{% endblock content %}